@charset "utf-8";
/* CSS Document */
*{box-sizing: border-box}
body{font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"}
h1{text-align: center; }
section{ border: 2px black solid; margin: 10px;  width: 30% ; display: inline-block ; background-color: lightgray;  
}

.p1 , .p2 , .p3 {text-align: center ; clear: right;padding: 4px ;}
h3 {text-align: center; border: 1px black solid; display:block; width: 35%;float: right;font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";margin-top: auto;}

.s1 h3{background-color: orange}
.s2 h3 {background-color: red}
.s3 h3 {background-color: yellow}

@media (min-width:768px)and (max-width:991px){
	.s1 , .s2 { width :45% ; margin: 10px; }
	.s3 {width:93% ; }
	
}
@media (max-width:767px) {
	
	.s1 , .s2, .s3 { width:90%;}
	
}